@model DHIS.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrescriptionNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrescriptionNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagonosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagonosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagonosisBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiagonosisBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrescriptionCollected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrescriptionCollected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified_on)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified_on)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientInfo.CellphoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrescriptionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
