@model IEnumerable<DHIS.Models.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

    <div class="card mb-4">
        <div class="card-header">
            <h2>Doctors</h2>
        </div>
        <div class="card-body">

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nationality)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IDNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HospitalInfo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nationality)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HospitalInfo.HospitalName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.DoctorID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
</div>