@model DHIS.Models.Prescription

@{
    ViewData["Title"] = "Prescribe";
    
}

    <div class="card mb-4">
        <div class="card-header">
            <h2>Record Prescription</h2>
        </div>
        <div class="card-body">
            <form asp-action="Prescribe">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="PrescriptionPatientID" class="form-control" value="@ViewBag.PrescriptionPatientID" type="hidden" />
                <div class="form-group">
                    <label asp-for="Diagonosis" class="control-label"></label>
                    <textarea asp-for="Diagonosis" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Diagonosis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrescriptionNotes" class="control-label"></label>
                    <textarea asp-for="PrescriptionNotes" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="PrescriptionNotes" class="text-danger"></span>
                </div>


                
                    <input asp-for="DiagonosisBy" class="form-control" value="Lisa" type="hidden"/>
                    
                <input asp-for="Created_by" class="form-control" value="@User.Identity.Name" type="hidden"/>

                <input asp-for="Modified_by" class="form-control" value="@User.Identity.Name" type="hidden"/>

                <input asp-for="Created_on" class="form-control" value="@DateTime.Now" type="hidden"/>


                <input asp-for="Modified_on" class="form-control" value="@DateTime.Now" type="hidden"/>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-rounded" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
